<div class='container'>
  <div class="row">
    <div class="col-xs-4">
      <%= form_tag import_path, multipart: true, :id => "import-file", :class => "form-inline mt mb" do %>
        <%= label_tag 'file', 'Mettre à jour la base de donnée:' %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importer CSV", class: 'btn btn-primary mt-' %>
      <% end %>
    </div>
  </div>
