<p>Bonjour <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>La mise à jour de la base de donnée s'est terminée.</p>

<p>Vous pouvez accéder à l'interface d'administration ici :</p>
<p><%= link_to admin_movements_url %></p>

<p>L'équipe See'Up</p>
