<p>Bonjour <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>Bienvenue dans le service 'Port Traffic' proposé par See'up.</p>

<p>Une question, une idée ? Contactez-nous par retour d'email ou en utilisant le lien suivant:</p>
<a href="http://www.see-up.fr/contactez-see-up/">http://www.see-up.fr/contactez-see-up/</a>

<p>L'équipe See'Up</p>
