<p>Bonjour,</p>

<p>Nous vous souhaitons la bienvenue sur Port Traffic, le premier outil de visualisation des trafics portuaires !</p>

<p>Vous utilisez actuellement la version bêta qui va rapidement évoluer avec de nouvelles fonctionnalités : origines-destinations, trafics multimodaux, comparaison de séries historiques entre ports et bien d’autres...</p>

<p>Nous souhaitons que cet outil vous soit utile au quotidien, n’hésitez donc pas à nous faire part de vos idées, besoins ou commentaires, <a href="http://www.see-up.fr/contactez-see-up/">contactez-nous</a>.</p>

<p>L’équipe Port Traffic by See'Up</p>

<p>Pour déclarer un problème de données ou un bug, <a href="http://www.see-up.fr/contactez-see-up/">cliquez-ici</a>.</p>

<p>Pour ne plus recevoir d’e-mails de notre part, <a href="http://www.see-up.fr/contactez-see-up/">cliquez-ici</a>.</p>

