.text-size-bigtitle {
  font-size: 48px;
}

.text-size-title {
  font-size: 24px !important;
}

.text-size-body {
  font-size: 16px !important;
}

.text-size-body-small {
  font-size: 14px;
}

.text-blue {
  color: $blue !important;
}

.text-dark-blue{
  color: $dark-blue !important;
}

.text-footer{
  // roboto 10px without underlining -> aligned with google map footer
  font-family: "Roboto";
  font-size: 10px;
  @extend .text-dark-blue;
  cursor: pointer;
}

h1 {
  @extend .text-size-title;
  @extend .text-blue;
}

body {
  @extend .text-size-body-small;
  @extend .text-dark-blue;
}

// .content {
//   display: flex;
// }

// .main-container {
//   display: flex;
//   flex-direction: row;
// }

.container {
  width: 100%;
}

.import-file{
  width: 100%;
}

// Cookie Banner
.cookie-banner {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;

  &.active {
    display: block;
  }
}

// Cookie overlay background for dialog box
.cookie-inform-and-ask {
  // background-color: $semi-transparent-black;
  background:rgba(255,255,255,0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &.active {
    display: block;
  }

  // Cookie dialog box
  .cookie-dialog {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
}
