<div class='container'>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 mt+">
      <h1>Pages#cgu</h1>
      <p>Find me in app/views/pages/cgu.html.erb</p>

      <%= link_to t(".sign_in", default: "Restez informés"), new_user_registration_path %>
    </div>
  </div>
</div>
