<div class='container'>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 mt+">
      <p>Veuillez noter que les réponses aux champs du formulaire « Restez informés » sont obligatoires et nécessaires au traitement de votre inscription à notre newsletter.

      L’absence de réponse à un champ obligatoire ne permet pas la prise en compte de votre inscription.

      Les informations personnelles portées sur ce formulaire sont enregistrées dans un fichier informatisé par :

      SAS SEE’UP
      46 rue Edmond Rostand
      13006 MARSEILLE
      Siret : 81371511700012
      contact@see-up.fr

      Nous ne traiterons ou n'utiliserons vos données que dans la mesure où cela est nécessaire pour réaliser des études d’utilisation de nos services, vous transmettre des informations sur l’évolution de nos services, effectuer de la prospection commerciale.

      Vos informations personnelles sont conservées pendant une durée qui ne saurait excéder 3 années à compter de la fin de la relation avec vous, sauf si :

      Vous exercez votre droit de suppression des données vous concernant, dans les conditions décrites ci-après ;
      Une durée de conservation plus longue est autorisée ou imposée en vertu d’une obligation légale ou règlementaire.

      Pendant cette période, nous mettons en place tous moyens aptes à assurer la confidentialité et la sécurité de vos données personnelles, de manière à empêcher leur endommagement, effacement ou accès par des tiers non autorisés.

      L'accès à vos données personnelles est strictement limité à : notre personnel administratif et commercial, ainsi qu’aux dirigeants de la SAS See’Up et, le cas échéant, à nos sous-traitants. Les sous-traitants en question sont soumis à une obligation de confidentialité et ne peuvent utiliser vos données qu’en conformité avec nos dispositions contractuelles et la législation applicable. En dehors des cas énoncés ci-dessus, nous nous engageons à ne pas vendre, louer, céder ni donner accès à des tiers à vos données sans votre consentement préalable, à moins d’y être contraints en raison d’un motif légitime (obligation légale, lutte contre la fraude ou l’abus, exercice des droits de la défense, etc.).

      Les données collectées ne sont pas transférées hors de l’Union Européenne.

      Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée et au Règlement européen n°2016/679/UE du 27 avril 2016 (applicable dès le 25 mai 2018), vous bénéficiez d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données ou encore de limitation du traitement. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.

      Vous pouvez, sous réserve de la production d’un justificatif d’identité valide, exercer vos droits en contactant

      Monsieur le Directeur Général de See’Up
      46 rue Edmond Rostand
      13006 Marseille
      contact@see-up.fr

      Si vous ne souhaitez pas/plus recevoir nos actualités, sollicitations et invitations, vous avez la faculté de nous l’indiquer soit en utilisant le lien prévu à cet effet dans nos e-mails, soit en nous contactant par mail ou par courrier à l’adresse suivante :

      Monsieur le Directeur Général de See’Up
      46 rue Edmond Rostand
      13006 Marseille
      contact@see-up.fr

      Pour toute information complémentaire ou réclamation, vous pouvez contacter la Commission Nationale de l’Informatique et des Libertés (plus d’informations sur www.cnil.fr).


      Les données personnelles pouvant être collectées sur www.port-traffic.com et www.see-up.fr sont les suivantes :</p>

      <ul>Adresse e-mail</ul>

      <%= link_to t(".sign_in", default: "Restez informés"), new_user_registration_path %>
    </div>
  </div>
</div>
