.map-container{
  width: 100%;
  height: 100%;
  position: relative;
}

#map {
  @extend .mt\-;
  @extend .mr\-;
  // flex: 0 0 450px;
  height: calc(100vh - 95px);
  width: calc(100vw - 395px);
  position: relative !important; /* !important to override Gmaps inline CSS */
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  #map {
    // @extend .mt\-;
    // @extend .mr\-;
    // flex: 0 0 450px;
    margin-bottom: 10px !important;
    height: calc(100vh - 20px);
    width: calc(100vw - 30px);
    position: relative !important; /* !important to override Gmaps inline CSS */
  }
}

#legend {
  @extend .mt\-;
  @extend .ml\-;
  @extend .text-size-body-small;
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: normal !important;
}

.infowindow-title{
  font-family: "Tahoma", "Open Sans", "Helvetica", "sans-serif" !important;
  @extend .text-size-body;
  @extend .text-blue;
  @extend .mb0;
}
